uname
{
color:black;
font-family:copperplate Gothoic Light; font-size:16 pt;
font:bold; }
city
{
color:yellow; font-family:Arial; font-size:12 pt; font:bold;
} rank {
color:yellow;
font-family:Arial; font-size:16 pt; font:bold;
}